* { font-family: 'Raleway', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
    text-align: center;
  }

  .image-card {
    padding: 10px;
  }

  .image-card img {
    width: 50%; /* Makes the image take up the full width of its container */
    height: 300px;
    border-radius: 8px;
  }