/* ProjectPort.css  */

* { font-family: 'Raleway', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
    text-align: center;
  }

  .image-card {
    padding: 1px;
  }

  .image-card img {
    width: 75%; /* Makes the image take up the full width of its container */
    height: 300px;
  }

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the cards horizontally */
}

.card {
  width: 85%;
  text-align: left;
  border: 1px solid grey;
  padding: 10px;
  margin: 20px 0;
  background-color: lightcyan;
  max-width: 800px; /* Set a maximum width for the cards */
}