* { font-family: 'Raleway', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

#contact-me {
    text-align: center;
  }
  
  .contact-form {
    align-items: center;
  }
  
  label {
    padding: 10px;
  }
  
  .send {
    margin-top: 5px;
  }
  
  #message {
    padding: 25px;
  }

  #links {
    list-style: none;
  }